<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rookie.laminae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Laminae"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".user.UserInfoActivity" />
        <activity android:name=".imageDetial.ImageDetialActivity" />
        <activity android:name=".welcome.WelcomeActivity" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".main.classify.ClassifyInfoActivity" />
        <activity android:name=".SearchResult.SearchResultActivity" />
        <activity android:name=".boardDetial.BoardDetialActivity"></activity>
    </application>

</manifest>